*{
    box-sizing: border-box;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0.1em;
    margin: 0 auto;
    width: 30%;
}

.container>div {
    background-color: teal;
}

.container>div:nth-child(odd) {
    background-color: #212121;
    color: white;
}

.input {    
    background-color: #252525;
    border: none;
    color: orange;
    font-size: 4rem;
    grid-column: 1/5;
    padding-right: 20px;
    padding-left: 10px;
    text-align: right;
}

button{
    background-color: #a6f0c6;
    font-size: 1.2em;
    outline: none;
}

.opbutton{
    background-color: orange;
}

.equalsign{
    background-color: #212121;
    color: white;
    grid-column: 4;
    grid-row: 4/8;
}

.top{
    background-color:#a6f0c6;
}

@media screen and (max-width: 1200px){
    .container{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }
}